<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- navbar section -->
    <nav class="navbar">
        <a href="/" class="navbar_logo"><img src="./image/png.png" alt=""></a>
        <div class="navbar_bars">
            <i class="fa fa-bars"></i>
        </div>
        <div class="navbar_menu">
            <a href="/" class="navbar_menu-links">Operators</a>
            <a href="/" class="navbar_menu-links">Variables</a>
            <a href="/" class="navbar_menu-links">Interpolation</a>
            <a href="/" class="navbar_menu-links" id="button">Sign Up</a>
        </div>
    </nav>

    <!-- Image section -->
    <div class="hero">
        <div class="hero_container">
            <div class="hero_container-left">
                <h1>Interpolation used anywhere</h1>
                <h2>Sass is the most mature, stable</h2>
                <p>Sign up now to join the list.</p>
                <button class="hero_container-btn"><a href="#">Sign Up</a></button>
            </div>
            <div class="hero_container-image">
                <img src="./image/sass.webp" alt="powerful">
            </div>
        </div>
    </div>
</body>
</html>